body {
  /* font-family: var(--font-family); */
  background-color: #e5e5e5;
}
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 0.02em;
}
.card-cat {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

.image {
  width: 40%;
  height: 40%;
}

.card-info {
  margin-top: 0;
  margin-bottom: 15px;
  display: block;
}
.name {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.temperament {
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.loader {
  font-size: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-hidden {
  display: none;
}

/* .breed-select-show {
  display: block;
}

.error-show {
  display: contents;
} */

/* .breed-select {
  display: none;
} */
/* .error {
  display: none;
} */
